@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/colors.scss' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background: white;
  box-shadow: 1px 1px 0 0 #323542;
  z-index: 1000;

  @include on-desktop {
    height: 64px;
  }
}
