@import '../../styles/_mixins';
@import '../../styles/colors';
@import '../../styles/variables';

.page3 {
  position: relative;
  height: 100vh;
  background-color: #000; // чёрный фон
  color: #fff; // белый текст
  padding: 2rem;
  
}

.href {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  a {
    color: red;
    font-size: 20px;
    text-decoration: none;

    &:hover,
    &:visited,
    &:active {
      color: red;
    }
  }
}

.container {
  padding: 0 16px 16px;
  background-color: transparent;

  @include on-tablet {
    padding: 0 24px 24px;
  }

  @include on-desktop {
    padding: 0 32px 32px;
  }

  @include on-tv {
    padding: 0 calc((100dvw - 1136px) / 2) 32px;
  }
}

.back-home {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: crimson;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 9999px;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darkred;
  }
}