* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
    margin: 0;
  overflow-x: hidden;
}

a {
  color: #0af;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  width: 1280px; 
  margin: 0 auto;
  transform-origin: top center;
  transform: scale(calc(100vw / 1280));
}